.images
  .placeholder
    %img{ :src=>"/images/artdirection/1.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/2.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/3.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/4.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/5.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/6.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/7.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/8.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/9.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/10.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/11.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/12.jpg" }
  .placeholder
    %img{ :src=>"/images/artdirection/13.jpg" }
