#tags
  %p im a
  %p rgb
  %p cymk
  %p graphic design
  %p photography
  %p paint
  %p motion
  %p video
  %p tv
  %p movie
  %p internet
  %p interaction
  %p identity
  %p communication
  %p method
  %p strong
  %p beautiful
  %p energy
  %p water
  %p infinite
  %p idea
  %p odysea
  
#info
  %p --
 
  %p 
    Odi Bazo
    %br
    Diseñadora gráfica - Directora de arte
 
  %p
    %a{ :href=>"http://www.odibazo.com", :target=>"_blank" }http://www.odibazo.com
    %br
    %a{ :href=>"http://www.flickr.com/photos/odibazo", :target=>"_blank" }http://www.flickr.com/photos/odibazo
    %br
    %a{ :href=>"http://www.youtube.com/odibazo", :target=>"_blank" }http://www.youtube.com/odibazo
    %br
    %a{ :href=>"http://quierocrecer.tumblr.com", :target=>"_blank"}http://quierocrecer.tumblr.com

  %p
    (34) 627 209 266
    %br
    Barcelona - Espana
    
  %p.cv
    %a{ :href=>"/cv_odibazo2011.pdf", :target=> "_blank", :title=>"Download My CV" }
      %img{ :src=>"/images/cv_button.gif", :alt=>"Download My CV" }
