.images
  .placeholder
    %img{ :src=>"/images/graphicdesign/1.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/2.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/3.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/4.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/5.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/6.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/7.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/8.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/9.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/10.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/11.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/12.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/13.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/14.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/15.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/16.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/17.jpg" }
  .placeholder
    %img{ :src=>"/images/graphicdesign/18.jpg" }
