%ul.nav
  %li 
    %a{ :href=>"/bio" } BIO + CV
  %li 
    %a{ :href=>"/graphic" } GRAPHIC DESIGN
  %li 
    %a{ :href=>"/plastic-arts" } PLASTIC ARTS
  %li 
    %a{ :href=>"/arts-direction" } ARTS DIRECTION
  %li 
    %a{ :href=>"/photography" } PHOTOGRAPHY
  %li 
    %a{ :href=>"/video" } VIDEO
