.images
  .placeholder
    %img{ :src=>"/images/photo/1.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/2.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/3.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/4.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/5.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/6.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/7.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/8.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/9.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/10.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/11.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/12.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/13.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/14.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/15.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/16.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/17.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/18.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/19.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/20.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/21.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/22.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/23.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/24.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/25.jpg" }
  .placeholder
    %img{ :src=>"/images/photo/26.jpg" }
