.images
  .placeholder
    %img{ :src=>"/images/plasticart/1.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/2.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/3.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/4.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/5.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/6.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/7.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/8.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/9.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/10.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/11.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/12.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/13.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/14.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/15.jpg" }
  .placeholder
    %img{ :src=>"/images/plasticart/16.jpg" }
