/*----- RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


/*----- GENERAL */
body{ margin: 0; background: black; font-family: Verdana; font-weight: bold;}
.clear { clear: both }
a { color:#fff; text-decoration: none; }

/*----- LATYOUT */
#header, 
#content {
  margin: 20px 0 0 100px;
}


/*---- MENU */
#menu {
  width: 20%;
  float: left;
}

ul.nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 11.5px;
}

ul.nav a:hover {
  color: #FFFF00;
}


/*----- MAIN-CONTENT */
#main-content {
  width: 80%;
  float: left;
}

#tags {
  text-align: right;
  width: 25%;
  float: left;
  font-size: 20px;
}

  #tags p {
    color: #fff;
  }
  
#info {
  margin: 27% 0 6% 3%;
  float: left;
  color: #fff;
  font-size: 15px;
}

  #info p {
    margin: 10px 0;
  }
  
  #info a:hover {
    color: #0000FF;
  }

.images {
  width: 22500px;
}

.placeholder {
  min-height: 400px;
  float: left;
  margin: 0 20px;
}

.images img {
  float: left; 
  vertical-align: middle;
}
